*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
}
.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sundarta{
    position: relative;
    bottom: 8px;
    width: 1rem;
    height: 1rem;
    background: rgb(248, 241, 241);
    transform: rotate(-45deg)  translate(-5px,6px);
    margin: 0rem .4rem;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all .3s ease;
}
/* //add classlist toggle  */

.toggle .line1{
    transform: rotate(-45deg)  translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

@media  screen and (max-width:1020px) {
    .nav-links{
        width: 40%;
    }
    .container{
        width: 100%;
    }
}
@media  screen and (max-width:770px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top:8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        transform: translateX(100%);
        transition: all 0.5s ease-in;

    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    .cont-active{
    
        width: calc(100% - 20%) !important;
        /* transition: all 0.5s ease-in; */
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* deg = degress */

/* for container*/
.container{
    position: absolute;
    color: rgb(255, 255, 255);
    background: #000;
    width: calc(100% - 0%);
    transition: all 0.5s ease-in;
}
